flows (1).json
[{"id":"4815df47.8234","type":"tab","label":"Arizona Watershed","disabled":false,"info":""},{"id":"93449634.74a5d8","type":"comment","z":"4815df47.8234","name":"Initialize the map legend to off","info":"","x":120,"y":20,"wires":[]},{"id":"69d287b.f9d2178","type":"inject","z":"4815df47.8234","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":55,"y":53,"wires":[["b11cc900.9a8a98","302c0035.6e0fc","6aa9c817.726ed8","48fb9c41.9a8724","409bedd.2209b14","f987733c.db278","f648a6cd.72ca38","60d0dc54.3f6ee4","4079d2e8.f41ffc","46e9fdbb.9a77e4","3fa0b030.95f7f"]]},{"id":"5f18abb7.3f2984","type":"comment","z":"4815df47.8234","name":"Zip code boundaries for each of the 50 states","info":"Grab your town area map geojson from these\nmassive tables.\nhttps://github.com/OpenDataDE/State-zip-code-GeoJSON\n\nWould be cool if it looked like this:\nhttp://maps.huge.info/zip.htm","x":290,"y":100,"wires":[]},{"id":"b11cc900.9a8a98","type":"ui_switch","z":"4815df47.8234","name":"","label":"Show Arizona","tooltip":"","group":"643ccf8c.06fda","order":12,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-building","oncolor":"maroon","offvalue":"false","offvalueType":"bool","officon":"fa-building","offcolor":"grey","animate":true,"x":160,"y":140,"wires":[["253eb8b7.87cf08"]]},{"id":"253eb8b7.87cf08","type":"switch","z":"4815df47.8234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":140,"wires":[["aaa3817.e363d8"],["539670e4.6e54f"]]},{"id":"aaa3817.e363d8","type":"change","z":"4815df47.8234","name":"Quarry","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.name","pt":"msg","to":"Arizona","tot":"str"},{"t":"set","p":"payload.lat","pt":"msg","to":"34.395342","tot":"str"},{"t":"set","p":"payload.lon","pt":"msg","to":"-111.763275","tot":"str"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-tint","tot":"str"},{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":120,"wires":[["34d9b3cf.0e575c","7472869.3290e78"]]},{"id":"539670e4.6e54f","type":"change","z":"4815df47.8234","name":"Hide Arizona","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"Arizona\",\"deleted\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":160,"wires":[["7472869.3290e78"]]},{"id":"34d9b3cf.0e575c","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":120,"wires":[]},{"id":"543dadb1.feb5a4","type":"comment","z":"4815df47.8234","name":"Find your stream - USGS","info":"\nhttps://waterdata.usgs.gov/nwis/inventory?state_cd=al&format=station_list&group_key=NONE&list_of_search_criteria=state_cd","x":230,"y":240,"wires":[]},{"id":"302c0035.6e0fc","type":"ui_switch","z":"4815df47.8234","name":"","label":"Show Colorado River Basin","tooltip":"","group":"643ccf8c.06fda","order":14,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"blue","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","animate":true,"x":200,"y":280,"wires":[["991f0a5b.0fbaf8"]]},{"id":"24ff9057.89311","type":"http request","z":"4815df47.8234","name":"USGS Colorado River Basin","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09380000/basin","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":260,"wires":[["90f0bab.982f948"]]},{"id":"90b4ad09.3db96","type":"comment","z":"4815df47.8234","name":"Find your water basin - https://waterdata.usgs.gov/blog/nldi-intro/","info":"","x":290,"y":380,"wires":[]},{"id":"991f0a5b.0fbaf8","type":"switch","z":"4815df47.8234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":280,"wires":[["24ff9057.89311","6c4223e8.f061ac"],["4540f09a.91658"]]},{"id":"4540f09a.91658","type":"change","z":"4815df47.8234","name":"Colorado River Basin","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"hidelayer\":[\"ColoradoRiverBasin\",\"Colorado\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":300,"wires":[["7472869.3290e78"]]},{"id":"90f0bab.982f948","type":"function","z":"4815df47.8234","name":"Draw Water Basin map","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"blue\",\n    \"stroke-width\": 5,\n    \"fill\": \"#0000FF\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"ColoradoRiver\",\n                layer:\"ColoradoRiver\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":260,"wires":[["a1f8effb.a6791","7472869.3290e78"]]},{"id":"916335ba.c86e18","type":"change","z":"4815df47.8234","name":"Draw Colorado","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.geojson","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":"Colorado River","tot":"str"},{"t":"set","p":"payload.name","pt":"msg","to":"Colorado River","tot":"str"},{"t":"set","p":"payload.color","pt":"msg","to":"steelblue","tot":"str"},{"t":"set","p":"payload.weight","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":220,"wires":[["7472869.3290e78"]]},{"id":"6c4223e8.f061ac","type":"http request","z":"4815df47.8234","name":"USGS Colorado","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09380000/navigate/UT","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":220,"wires":[["916335ba.c86e18"]]},{"id":"a1f8effb.a6791","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":260,"wires":[]},{"id":"7472869.3290e78","type":"ui_worldmap","z":"4815df47.8234","group":"c963092a.f46dc8","order":2,"width":8,"height":"13","name":"","lat":"34.395342","lon":"-111.763275","zoom":"11","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/gawatermap","x":1310,"y":340,"wires":[]},{"id":"32ef64e4.71c70c","type":"http request","z":"4815df47.8234","name":"USGS Little Colorado River Basin","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09402300/basin","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":400,"wires":[["885c923d.26fe"]]},{"id":"885c923d.26fe","type":"function","z":"4815df47.8234","name":"Draw Water Basin map","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"darkviolet\",\n    \"stroke-width\": 5,\n    \"fill\": \"darkviolet\",\n    \"fill-opacity\": 0.4\n};\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"LittleColoradoRiverBasin\",\n                layer:\"LittleColoradoRiverBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":400,"wires":[["e99be6a6.66fe18","7472869.3290e78"]]},{"id":"e99be6a6.66fe18","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":400,"wires":[]},{"id":"6aa9c817.726ed8","type":"ui_switch","z":"4815df47.8234","name":"","label":"Show Little Colorado River Basin","tooltip":"","group":"643ccf8c.06fda","order":9,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"darkviolet","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","animate":true,"x":210,"y":420,"wires":[["52655ba3.5c03c4"]]},{"id":"52655ba3.5c03c4","type":"switch","z":"4815df47.8234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":420,"wires":[["32ef64e4.71c70c","6127c9a7.33d958"],["d6242ddd.fb2"]]},{"id":"d6242ddd.fb2","type":"change","z":"4815df47.8234","name":"Hide Little Colorado River Basin","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"hidelayer\":[\"CoosaRiverBasin\",\"Coosa\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":440,"wires":[["7472869.3290e78"]]},{"id":"64493dc0.abca14","type":"change","z":"4815df47.8234","name":"Draw Little Colorado","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.geojson","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":"Little Colorado","tot":"str"},{"t":"set","p":"payload.name","pt":"msg","to":"Little Colorado","tot":"str"},{"t":"set","p":"payload.color","pt":"msg","to":"steelblue","tot":"str"},{"t":"set","p":"payload.weight","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":360,"wires":[["7472869.3290e78"]]},{"id":"6127c9a7.33d958","type":"http request","z":"4815df47.8234","name":"USGS Little Colorado","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09402300/navigate/UT","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":360,"wires":[["64493dc0.abca14"]]},{"id":"48fb9c41.9a8724","type":"ui_switch","z":"4815df47.8234","name":"","label":"Show Kanab Creek Basin","tooltip":"","group":"643ccf8c.06fda","order":10,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"darkviolet","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","animate":true,"x":190,"y":540,"wires":[["1f60a4f8.9026fb"]]},{"id":"1f60a4f8.9026fb","type":"switch","z":"4815df47.8234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":540,"wires":[["a9c01dd5.bec51","5c14da17.c37df4"],["472175f1.dcd47c"]]},{"id":"5c14da17.c37df4","type":"http request","z":"4815df47.8234","name":"USGS Kanab Creek","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09403850/navigate/UT","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":480,"wires":[["fe62a02b.324fc"]]},{"id":"a9c01dd5.bec51","type":"http request","z":"4815df47.8234","name":"USGS Kanab Creek Basin","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09403850/basin","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":520,"wires":[["41d270f0.0d0b1"]]},{"id":"21585afd.492e66","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":520,"wires":[]},{"id":"fe62a02b.324fc","type":"change","z":"4815df47.8234","name":"Draw Kanab Creek","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.geojson","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":"Kanab Creek","tot":"str"},{"t":"set","p":"payload.name","pt":"msg","to":"Kanab Creek","tot":"str"},{"t":"set","p":"payload.color","pt":"msg","to":"steelblue","tot":"str"},{"t":"set","p":"payload.weight","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":480,"wires":[["7472869.3290e78"]]},{"id":"41d270f0.0d0b1","type":"function","z":"4815df47.8234","name":"Draw Water Basin map","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"peru\",\n    \"stroke-width\": 5,\n    \"fill\": \"peru\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\nmsg.payload = { name: \"KanabCreekBasin\",\n                layer:\"KanabCreekkBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":520,"wires":[["21585afd.492e66","7472869.3290e78"]]},{"id":"472175f1.dcd47c","type":"change","z":"4815df47.8234","name":"Hide Kanab Creek Basin","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"hidelayer\":[\"KanabCreekBasin\",\"KanabCreek\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":560,"wires":[["7472869.3290e78"]]},{"id":"409bedd.2209b14","type":"ui_switch","z":"4815df47.8234","name":"","label":"Show Havasu Creek Water Basin","tooltip":"","group":"643ccf8c.06fda","order":6,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"maroon","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","animate":true,"x":220,"y":660,"wires":[["7fc20b7b.5b9464"]]},{"id":"7fc20b7b.5b9464","type":"switch","z":"4815df47.8234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":660,"wires":[["3bcbbc80.c49df4","9ab201bd.dc769"],["fa2bd614.87e488"]]},{"id":"3bcbbc80.c49df4","type":"http request","z":"4815df47.8234","name":"USGS Havasu Creek water basin","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09404115/basin","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":640,"wires":[["345e02d6.7cb39e"]]},{"id":"9ab201bd.dc769","type":"http request","z":"4815df47.8234","name":"USGS Havasu Creek","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09404115/navigate/UT","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":600,"wires":[["c434a4ca.d65e28"]]},{"id":"c434a4ca.d65e28","type":"change","z":"4815df47.8234","name":"Draw Havasu Creek","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.geojson","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":"Havasu Creek","tot":"str"},{"t":"set","p":"payload.name","pt":"msg","to":"Havasu Creek","tot":"str"},{"t":"set","p":"payload.color","pt":"msg","to":"steelblue","tot":"str"},{"t":"set","p":"payload.weight","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":600,"wires":[["7472869.3290e78"]]},{"id":"345e02d6.7cb39e","type":"function","z":"4815df47.8234","name":"Draw Water Basin map","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"maroon\",\n    \"stroke-width\": 5,\n    \"fill\": \"maroon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"HavasuCreek\",\n                layer:\"HavasuCreek\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":640,"wires":[["906db8bc.9fa938","7472869.3290e78"]]},{"id":"fa2bd614.87e488","type":"change","z":"4815df47.8234","name":"Hide Havasu Creek Water Basin","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"hidelayer\":[\"HavasuCreekWaterBasin\",\"HavasuCreek\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":680,"wires":[["7472869.3290e78"]]},{"id":"906db8bc.9fa938","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":640,"wires":[]},{"id":"f987733c.db278","type":"ui_switch","z":"4815df47.8234","name":"","label":"Show San Pedro River Basin","tooltip":"","group":"643ccf8c.06fda","order":5,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"limegreen","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","animate":true,"x":200,"y":780,"wires":[["b4fb1b60.984d68"]]},{"id":"b4fb1b60.984d68","type":"switch","z":"4815df47.8234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":780,"wires":[["e7ac16b5.28f5e8","9df0242.1b137d8"],["6ad03de0.978bf4"]]},{"id":"9df0242.1b137d8","type":"http request","z":"4815df47.8234","name":"USGS San Pedro","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09471000/navigate/UT","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":720,"wires":[["d109f47f.242518"]]},{"id":"e7ac16b5.28f5e8","type":"http request","z":"4815df47.8234","name":"USGS San Pedro River basin","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09471000/basin","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":760,"wires":[["4bd8aafb.aecdf4"]]},{"id":"d109f47f.242518","type":"change","z":"4815df47.8234","name":"Draw San Pedro","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.geojson","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":"San Pedro River","tot":"str"},{"t":"set","p":"payload.name","pt":"msg","to":"San Pedro River","tot":"str"},{"t":"set","p":"payload.color","pt":"msg","to":"steelblue","tot":"str"},{"t":"set","p":"payload.weight","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":720,"wires":[["7472869.3290e78"]]},{"id":"4bd8aafb.aecdf4","type":"function","z":"4815df47.8234","name":"Draw Water Basin map","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"limegreen\",\n    \"stroke-width\": 5,\n    \"fill\": \"limegreen\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"SanPedroRiverBasin\",\n                layer:\"SanPedroRiverBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":760,"wires":[["18001c72.f937c4","7472869.3290e78"]]},{"id":"6ad03de0.978bf4","type":"change","z":"4815df47.8234","name":"Hide San Pedro River Basin","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"hidelayer\":[\"SanPedroRiverWaterBasin\",\"SanPedroRiver\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":800,"wires":[["7472869.3290e78"]]},{"id":"18001c72.f937c4","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":760,"wires":[]},{"id":"f648a6cd.72ca38","type":"ui_switch","z":"4815df47.8234","name":"","label":"Show West Clear Creak Water Basin","tooltip":"","group":"643ccf8c.06fda","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","animate":true,"x":230,"y":900,"wires":[["abbd3a75.9780e8"]]},{"id":"abbd3a75.9780e8","type":"switch","z":"4815df47.8234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":900,"wires":[["c3614b2d.e524a8","fe081947.fd4e38"],["8dfd863d.a37848"]]},{"id":"fe081947.fd4e38","type":"http request","z":"4815df47.8234","name":"USGS West Clear Creak","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09505800/navigate/UT","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":840,"wires":[["d7e377d5.3c92f8"]]},{"id":"c3614b2d.e524a8","type":"http request","z":"4815df47.8234","name":"USGS West Clear Creak basin","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09505800/basin","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":880,"wires":[["448602a0.c3e24c"]]},{"id":"d7e377d5.3c92f8","type":"change","z":"4815df47.8234","name":"Draw West Clear Creak","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.geojson","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":"West Clear Creak","tot":"str"},{"t":"set","p":"payload.name","pt":"msg","to":"West Clear Creak","tot":"str"},{"t":"set","p":"payload.color","pt":"msg","to":"steelblue","tot":"str"},{"t":"set","p":"payload.weight","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":840,"wires":[["7472869.3290e78"]]},{"id":"448602a0.c3e24c","type":"function","z":"4815df47.8234","name":"Draw Water Basin map","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"yellow\",\n    \"stroke-width\": 5,\n    \"fill\": \"yellow\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"WestClearCreakWaterBasin\",\n                layer:\"WestClearCreakWaterBasin\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":880,"wires":[["be5e9eee.8c9f3","7472869.3290e78"]]},{"id":"8dfd863d.a37848","type":"change","z":"4815df47.8234","name":"Hide West Clear Creak Basin","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"hidelayer\":[\"WestClearCreakBasin\",\"WestClearCreak\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":920,"wires":[["7472869.3290e78"]]},{"id":"be5e9eee.8c9f3","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":880,"wires":[]},{"id":"60d0dc54.3f6ee4","type":"ui_switch","z":"4815df47.8234","name":"","label":"Show Colorado River Basin","tooltip":"","group":"643ccf8c.06fda","order":4,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"orchid","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","animate":true,"x":200,"y":1020,"wires":[["c37df420.d5e628"]]},{"id":"c37df420.d5e628","type":"switch","z":"4815df47.8234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1020,"wires":[["869d9279.ff4c2","7922cfb5.a6497"],["260ba696.27adaa"]]},{"id":"7922cfb5.a6497","type":"http request","z":"4815df47.8234","name":"USGS Colorado River 2","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09522005/navigate/UT","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":960,"wires":[["ea30de2b.35c75"]]},{"id":"869d9279.ff4c2","type":"http request","z":"4815df47.8234","name":"USGS Colorado River 2 basin","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09522005/basin","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":1000,"wires":[["4c02c511.ecc08c"]]},{"id":"ea30de2b.35c75","type":"change","z":"4815df47.8234","name":"Draw Colorado River 2","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.geojson","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":"Colorado River 2","tot":"str"},{"t":"set","p":"payload.name","pt":"msg","to":"Colorado River 2","tot":"str"},{"t":"set","p":"payload.color","pt":"msg","to":"steelblue","tot":"str"},{"t":"set","p":"payload.weight","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":960,"wires":[["7472869.3290e78"]]},{"id":"260ba696.27adaa","type":"change","z":"4815df47.8234","name":"Hide Cahaba River Basin","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"hidelayer\":[\"ColoradoRiver2WaterBasin\",\"ColoradoRiver2 \"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1040,"wires":[["7472869.3290e78"]]},{"id":"e295605d.7a688","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":1000,"wires":[]},{"id":"4c02c511.ecc08c","type":"function","z":"4815df47.8234","name":"Draw Water Basin map","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"orchid\",\n    \"stroke-width\": 5,\n    \"fill\": \"orchid\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"ColoradoRiver2\",\n                layer:\"ColoradoRiver2\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1000,"wires":[["e295605d.7a688","7472869.3290e78"]]},{"id":"4079d2e8.f41ffc","type":"ui_switch","z":"4815df47.8234","name":"","label":"Show Yamu Main Drain","tooltip":"","group":"643ccf8c.06fda","order":3,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"firebrick","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","animate":true,"x":190,"y":1140,"wires":[["26b2121.35e98ee"]]},{"id":"26b2121.35e98ee","type":"switch","z":"4815df47.8234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1140,"wires":[["696a2280.1525ec","54be602e.04a77"],["51136bf5.733354"]]},{"id":"54be602e.04a77","type":"http request","z":"4815df47.8234","name":"USGS Yamu Main Drain","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09534000/navigate/UT","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":1080,"wires":[["71fe0a98.e2ae64"]]},{"id":"696a2280.1525ec","type":"http request","z":"4815df47.8234","name":"USGS Yamu Main Drain","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09534000/basin","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":1120,"wires":[["da8f1784.5bd748"]]},{"id":"71fe0a98.e2ae64","type":"change","z":"4815df47.8234","name":"Draw Yamu Main Drain","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.geojson","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":"Yamu Main Drain","tot":"str"},{"t":"set","p":"payload.name","pt":"msg","to":"Yamu Main Drain","tot":"str"},{"t":"set","p":"payload.color","pt":"msg","to":"steelblue","tot":"str"},{"t":"set","p":"payload.weight","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1080,"wires":[["7472869.3290e78"]]},{"id":"da8f1784.5bd748","type":"function","z":"4815df47.8234","name":"Draw Water Basin map","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"firebrick\",\n    \"stroke-width\": 5,\n    \"fill\": \"firebrick\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"YamuMainDrain\",\n                layer:\"YamuMainDrain\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1120,"wires":[["9d28ee2d.cc861","7472869.3290e78"]]},{"id":"51136bf5.733354","type":"change","z":"4815df47.8234","name":"Hide Yamu Main Drain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"hidelayer\":[\"YamuMainDrain\",\"YamuMainDrain\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1160,"wires":[["7472869.3290e78"]]},{"id":"9d28ee2d.cc861","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":1120,"wires":[]},{"id":"46e9fdbb.9a77e4","type":"ui_switch","z":"4815df47.8234","name":"","label":"Show 242 Lateral Above Main Drain","tooltip":"","group":"643ccf8c.06fda","order":15,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"salmon","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","animate":true,"x":220,"y":1260,"wires":[["70c2f5ab.97643c"]]},{"id":"70c2f5ab.97643c","type":"switch","z":"4815df47.8234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1260,"wires":[["3227bf1.867954","5e0528d0.fe7268"],["8ef6df28.63314"]]},{"id":"5e0528d0.fe7268","type":"http request","z":"4815df47.8234","name":"USGS 242 Lateral Above Main Drain","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09534550/navigate/UT","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":1200,"wires":[["aeb0afa3.0b889"]]},{"id":"3227bf1.867954","type":"http request","z":"4815df47.8234","name":"USGS 242 Lateral Above Main Drain","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-09534550/basin","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":1240,"wires":[["b3bf6a3c.a811a8"]]},{"id":"aeb0afa3.0b889","type":"change","z":"4815df47.8234","name":"Draw 242 Lateral Above Main Drain","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.geojson","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":"242 Lateral Above Main Drain","tot":"str"},{"t":"set","p":"payload.name","pt":"msg","to":"242 Lateral Above Main Drain","tot":"str"},{"t":"set","p":"payload.color","pt":"msg","to":"Sipsey Fork","tot":"str"},{"t":"set","p":"payload.weight","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1200,"wires":[["7472869.3290e78"]]},{"id":"b3bf6a3c.a811a8","type":"function","z":"4815df47.8234","name":"Draw Water Basin map","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"salmon\",\n    \"stroke-width\": 5,\n    \"fill\": \"salmon\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \"242LateralAboveMainDrain\",\n                layer:\"242LateralAboveMainDrain\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1240,"wires":[["d6282bd6.ecd868","7472869.3290e78"]]},{"id":"8ef6df28.63314","type":"change","z":"4815df47.8234","name":"Hide 242 Lateral Above Main Drain","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"hidelayer\":[\"242LateralAboveMainDrain\",\"242LateralAboveMainDrain\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1280,"wires":[["7472869.3290e78"]]},{"id":"d6282bd6.ecd868","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":1240,"wires":[]},{"id":"3fa0b030.95f7f","type":"ui_switch","z":"4815df47.8234","name":"","label":"Show Irrigation Ditch","tooltip":"","group":"643ccf8c.06fda","order":16,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-tint","oncolor":"orange","offvalue":"false","offvalueType":"bool","officon":"fa-tint","offcolor":"grey","animate":true,"x":180,"y":1380,"wires":[["39308ca5.613a84"]]},{"id":"39308ca5.613a84","type":"switch","z":"4815df47.8234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1380,"wires":[["4c60ea24.81f844","64b764c4.e9feac"],["6b783d89.0c7bb4"]]},{"id":"64b764c4.e9feac","type":"http request","z":"4815df47.8234","name":"USGS Irrigation Ditch","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-332108112332001/navigate/UT","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":1320,"wires":[["6fc03167.262c5"]]},{"id":"4c60ea24.81f844","type":"http request","z":"4815df47.8234","name":"USGS Irrigation Ditch","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://labs.waterdata.usgs.gov/api/nldi/linked-data/nwissite/USGS-332108112332001/basin","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":1360,"wires":[["c083a284.fc4a8"]]},{"id":"6fc03167.262c5","type":"change","z":"4815df47.8234","name":"Draw  Irrigation Ditch","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.geojson","tot":"msg"},{"t":"set","p":"payload.layer","pt":"msg","to":" Irrigation Ditch","tot":"str"},{"t":"set","p":"payload.name","pt":"msg","to":" Irrigation Ditch","tot":"str"},{"t":"set","p":"payload.color","pt":"msg","to":"steelblue","tot":"str"},{"t":"set","p":"payload.weight","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1320,"wires":[["7472869.3290e78"]]},{"id":"c083a284.fc4a8","type":"function","z":"4815df47.8234","name":"Draw Water Basin map","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"orange\",\n    \"stroke-width\": 5,\n    \"fill\": \"orange\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.features[0].properties = properties;\n\nmsg.payload = { name: \" IrrigationDitch\",\n                layer:\" IrrigationDitch\",\n                geojson:msg.payload\n              };    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1360,"wires":[["df0294d.09d7168","7472869.3290e78"]]},{"id":"6b783d89.0c7bb4","type":"change","z":"4815df47.8234","name":"Hide  Irrigation Ditch","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"hidelayer\":[\" IrrigationDitch\",\" IrrigationDitch\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1400,"wires":[["7472869.3290e78"]]},{"id":"df0294d.09d7168","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":1360,"wires":[]},{"id":"df36f071.542a4","type":"ui_form","z":"4815df47.8234","name":"","label":"ZipCode - Water Quality Report","group":"643ccf8c.06fda","order":1,"width":6,"height":1,"options":[{"label":"Enter a ZipCode","value":"ZipCode","type":"text","required":true,"rows":null}],"formValue":{"ZipCode":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"x":250,"y":1500,"wires":[["74c5e491.d19f2c","2fbacb96.65fa54"]]},{"id":"f8f99fdc.c072","type":"http request","z":"4815df47.8234","name":"GetWaterScore","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://aquagenuity.com/GetWaterScore","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":1520,"wires":[["c49f57c6.dbb808","b5cdcb05.7bc048","ed7be69a.117ff8"]]},{"id":"c49f57c6.dbb808","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":1560,"wires":[]},{"id":"74c5e491.d19f2c","type":"function","z":"4815df47.8234","name":"Aquagenuity params","func":"msg.payload = {\"auth\":{\"username\":\"dndGUZEjifCl\",\n                       \"password\":\"sgGPgdvi0Hw8\"},\n               \"zipcode\":msg.payload.ZipCode} ;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1520,"wires":[["f8f99fdc.c072"]]},{"id":"b5cdcb05.7bc048","type":"change","z":"4815df47.8234","name":"WaterScore","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.waterscore[0]","tot":"msg"},{"t":"set","p":"payload.name","pt":"msg","to":"Water Report","tot":"str"},{"t":"set","p":"payload.lat","pt":"msg","to":"34.395342","tot":"str"},{"t":"set","p":"payload.lon","pt":"msg","to":"-111.763275","tot":"str"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-tint","tot":"str"},{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1480,"wires":[["22a3f8f5.094e18","7472869.3290e78"]]},{"id":"ed7be69a.117ff8","type":"function","z":"4815df47.8234","name":"Contaminants","func":"var toxins = msg.payload.contaminantDetails;\n\n// Highlight toxins that exceed EPA limits\nfor( var i=0; i < toxins.length; i++) {\n    if( parseFloat(toxins[i].sample_amount) > parseFloat(toxins[i].toxin_limit_value) ) {\n        toxins[i].toxin_type_name = \"<font color='red'><b>\"+toxins[i].toxin_type_name+\"</b></font>\";\n        toxins[i].sample_amount = \"<font color='red'><b>\"+toxins[i].sample_amount+\"</b></font>\";\n    }\n}\nmsg.payload = toxins;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1520,"wires":[["231c1727.6adc68"]]},{"id":"22a3f8f5.094e18","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":1480,"wires":[]},{"id":"d229603c.100a","type":"change","z":"4815df47.8234","name":"Health Risk details","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.health_risk_type_description","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Health Risk","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":1560,"wires":[["37590390.706d5c"]]},{"id":"37590390.706d5c","type":"ui_toast","z":"4815df47.8234","position":"dialog","displayTime":"10","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1210,"y":1600,"wires":[[]]},{"id":"2fbacb96.65fa54","type":"change","z":"4815df47.8234","name":"Reset Water Report","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"Water Report\",\"deleted\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1440,"wires":[["7472869.3290e78"]]},{"id":"44b6bcb9.663af4","type":"inject","z":"4815df47.8234","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":1440,"wires":[["2fbacb96.65fa54"]]},{"id":"9da499ed.b41208","type":"http request","z":"4815df47.8234","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://streamstats.usgs.gov/streamstatsservices/watershed.geojson?rcode=GA&xlocation=-84.5508762&ylocation=33.8543487&crs=4326&includeparameters=false&includeflowtypes=false&includefeatures=true&simplify=true","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":1800,"wires":[["a675c477.04c4f8","96149001.73757"]]},{"id":"b3487a5.4268288","type":"inject","z":"4815df47.8234","name":"StreamStat test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":1800,"wires":[["9da499ed.b41208"]]},{"id":"96149001.73757","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":1840,"wires":[]},{"id":"a675c477.04c4f8","type":"function","z":"4815df47.8234","name":"","func":"// Add some simple-spec styling to this polygon area\nvar properties = { \n    \"stroke\" : \"orange\",\n    \"stroke-width\": 5,\n    \"fill\": \"orange\",\n    \"fill-opacity\": 0.4\n}\nmsg.payload.featurecollection[1].feature.features[0].properties = properties;\ndelete msg.payload.featurecollection[1].feature.crs\ndelete msg.payload.featurecollection[1].feature.features[0].bbox\n\nmsg.payload = { name: \"SmyrnaWaterBasin\",\n                layer:\"SmyrnaWaterBasin\",\n                geojson:msg.payload.featurecollection[1].feature\n              };\n              \ndelete msg.payload.geojson.features[0].geometry.coordinates[1];\ndelete msg.payload.geojson.features[0].geometry.coordinates[2];\ndelete msg.payload.geojson.features[0].geometry.coordinates[3];  \ndelete msg.payload.geojson.features[0].geometry.coordinates[4];  \ndelete msg.payload.geojson.features[0].geometry.coordinates[5];  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":1800,"wires":[["a123b722.e4d2d8","7472869.3290e78"]]},{"id":"a123b722.e4d2d8","type":"debug","z":"4815df47.8234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":1800,"wires":[]},{"id":"80048879.590c78","type":"inject","z":"4815df47.8234","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ZipCode\":\"35242\"}","payloadType":"json","x":290,"y":1540,"wires":[["74c5e491.d19f2c"]]},{"id":"643ccf8c.06fda","type":"ui_group","name":"Show Maps","tab":"fd7a0ad8.3d2648","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd7a0ad8.3d2648","type":"ui_tab","name":"Arizona Water Basins","icon":"fa-tint","order":1,"disabled":false,"hidden":false}]